/* Основные стили */
body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header h1 {
    text-align: center;
    margin-bottom: 40px;
}

.clock {
    position: fixed; /* Или absolute, в зависимости от вашей разметки */
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #f9f9f9; /* Цвет фона */
    color: #333; /* Цвет текста */
    font-size: 16px;
}

/* Стилизация секций компонентов */
.component {
    background: #333;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
}

.component header h2 {
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

/* Стилизация элементов формы */
label {
    display: block;
    margin-bottom: 5px;
}

select, input[type="number"], input[type="radio"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #555;
    background-color: #222;
    color: #fff;
    border-radius: 4px;
}

input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

.usb-options, .calculate-button {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Стилизация кнопки 'Рассчитать' */
.calculate-button button {
    background-color: #ff9500;
    color: #000;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}

.calculate-button button:hover {
    background-color: #ffa500;
}

.result-display {
    margin-top: 20px;
    padding: 10px;
    background-color: #222; /* Темный фон для контраста */
    color: #fff; /* Белый текст */
    border: 1px solid #555; /* Слегка выделяющаяся рамка */
    border-radius: 4px;
    text-align: center; /* Текст по центру */
}

.icon {
    width: 100px; /* или любой другой размер */
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}

/* Стилизация модального окна */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Остается на месте при прокрутке */
    z-index: 1; /* Поверх всего */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включить прокрутку, если необходимо */
    background-color: rgba(0,0,0,0.4); /* Цвет фона */
}

.modal-content {
    background-color: #000;
    margin: 15% auto; /* 15% от верха и по центру */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Можно изменить на нужную ширину */
}

/* Кнопка закрытия */
.closeBtn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Адаптивность */
@media (max-width: 768px) {
    .options {
        flex-direction: column;
    }
    
    select, input[type="number"] {
        width: auto;
    }
}
